.wrapper {
  width: 197px;
  height: 238px;
  border-radius: 8px;
  background: #1f1f1f;
  padding: 14px;

  @media screen and (min-width: 768px) {
    width: 212px;
    min-height: 272px;
    padding: 20px;
  }
}


.imgWrapper {
  width: 54px;
  height: 78px;
}

.text {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.28px;
  margin-top: 14px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}


.button {
  margin-top: 19px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  border: none;
}

.btnTitle {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
  &:disabled {
    background: #b4adad;
  }
}

.button {
  margin-top: 19px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  border: none;
}


.icon {
stroke: var(--bg-icon);

fill: transparent;


}

.logo {
  color: var(--accent-color);

}

