.user {
  /* position: absolute;
  top: 18px;
  right: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.user__name {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
}
.photo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--avatar-bg-color);
}

.svg {
  fill: var(--avatar-color);
}
