.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 8px;
  width: 79px;
  height: 32px;
}
.userName {
  font-family: 'PoppinsM';
  font-size: 14px;
}
.photo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: black;
  overflow: hidden;
}
