.card {
  border-radius: 8px;
  background: var(--secondary-bg-color);
  padding: 14px 18px 14px 24px;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  width: 335px;
  box-sizing: border-box;
}

.title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
  line-height: normal;

  margin-bottom: 8px;
}

.text {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.24px;
  margin-bottom: 15px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  border-top: 1px solid var(--card-line);
}

.infoBox {
  display: flex;
  gap: 14px;
}

.priority {
  display: flex;
  gap: 4px;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.infoTitle {
  color: var(--secondary-text-color);
  font-size: 8px;
  font-weight: 400;
  letter-spacing: -0.16px;
  margin-bottom: 4px;
}

.info {
  color: var(--primary-text-color);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.iconList {
  display: flex;
  gap: 8px;
}

.button {
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--primary-text-color);
  }
}
