.list {
  width: fit-content; /* Ширина по содержимому */
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 480px;
  overflow: auto;
  overflow-x: none;
  box-sizing: border-box;
  padding-right: 4px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .list {
    height: 640px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    height: 480px;
  }
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  border-radius: 12px;
  background: var(--scrollbar-bg);
}

.list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--scrollbar);
  height: 142px;
  margin-right: -4px;
}
