.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 640px;
  overflow: scroll;
  padding-right: 8px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  border-radius: 12px;
  background: var(--scrollbar-bg);
}
.list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--scrollbar);
  height: 142px;
}
