.datepicker {
  color: var(--accent-color);
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: start;
  border: none;
  cursor: pointer;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.datepicker::before {
  content: 'Today, ';
  margin-right: 2px;
}
.svg {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  margin-bottom: 8px;
  fill: var(--accent-color);
}
.svg1 {
  width: 18px;
  height: 18px;
  margin-top: 8px;
  margin-left: 4px;
  fill: var(--accent-color);
}
.dateArea {
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--bg-button);
  border: none;
}
