@import-normalize; /* bring in normalize.css styles */

/* dark theme */
html[data-theme='dark'] {
  --primary-bg-color: #151515;
  --primary-text-color: #ffffff;
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --accent-color: #bedbb0;
  --input-inactive-color: rgba(190, 219, 176, 0.4);
  --active-color: #9dc888;
  --button-color: #161616;
  --bg-button: #121212;
  --bg-icon: #ffffff;
  --card-line: rgba(255, 255, 255, 0.1);
  --avatar-bg-color: #1f1f1f;
  --avatar-bg: rgba(255, 255, 255, 0.5);

  --avatar-color: #151515;
  --plus-bg-color: #bedbb0;
  --plus-active-color: #9dc888;
  --scrollbar: #121212;
  --scrollbar-bg: rgb(255, 255, 255, 0.1);
  --secondary-bg-color: #121212;
  --modal-bg-color: #151515;
  --blank-page-text: rgba(255, 255, 255, 0.5);
  --blank-page-bg: #1f1f1f;
  --logout-button: #bedbb0;
  --logout-button-accent: #9dc888;
   --sidebar-color: #ffffff;
  --board-active: #1f1f1f;
  --sidebar-bg: #121212;
  --sidebar-border: rgba(255, 255, 255, 0.10);
  --add-button-color:#121212;
  --add-button-bg: #bedbb0;
  --add-button-bg-accent: #9dc888;
  --logo-color: #fff;
  --logo-bg: #1f1f1f;
  --overlay:rgba(21, 21, 21, 0.50);
  --header-bg:#161616;
  --priority-default: rgba(255, 255, 255, 0.30);
  --help-bg: #1f1f1f;
  --modal-bg-color: #151515;
}

/* light theme */
html[data-theme='light'] {
  --primary-bg-color: #fcfcfc;
  --primary-text-color: #161616;
  --secondary-text-color: rgba(22, 22, 22, 0.5);
  --accent-color: #bedbb0;
  --input-inactive-color: rgba(190, 219, 176, 0.4);
  --active-color: #9dc888;
  --button-color: #161616;
  --bg-button: #ffffff;
  --bg-icon: #161616;
  --card-line: rgba(22, 22, 22, 0.1);
  --avatar-bg-color: #f6f6f7;
  --avatar-bg:rgb(22, 22, 22, 0.3);

  --avatar-color: #fcfcfc;
  --plus-bg-color: #bedbb0;
  --plus-active-color: #9dc888;
  --scrollbar: rgba(22, 22, 22, 0.1);
  --scrollbar-bg: #e8e8e8;
  --secondary-bg-color: #ffffff;
  --modal-bg-color: #fcfcfc;
  --blank-page-text: rgba(22, 22, 22, 0.7);
  --blank-page-bg: #f6f6f7;
  --logout-button: #bedbb0;
  --logout-button-accent: #9dc888;
  --sidebar-color:: #161616;
  --board-active: #f6f6f6;
  --sidebar-bg: #ffffff;
  --sidebar-border: rgba(22, 22, 22, 0.10);
  --add-button-color:#121212;
  --add-button-bg: #bedbb0;
  --add-button-bg-accent: #9dc888;
  --logo-color: #fff;
  --logo-bg: #1f1f1f;
  --overlay:rgba(21, 21, 21, 0.30);
  --header-bg:#fcfcfc;
  --priority-default: rgba(22, 22, 22, 0.30);
  --help-bg: #f6f6f6;
  --modal-bg-color: #fcfcfc;
}

/* violet theme */
html[data-theme='violet'] {
  --primary-bg-color: #ecedfd;
  --primary-text-color: #161616;
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --accent-color: #5255bc;
  --input-inactive-color: rgb(82, 85, 188, 0.4);
  --active-color: #7b7ede;
  --button-color: #ffffff;
  --bg-button: #ffffff;
  --bg-icon: #5255bc;
  --card-line: rgba(22, 22, 22, 0.1);
  --avatar-bg-color: #ecedfd;
  --avatar-bg:#D6D8FF;

  --avatar-color: #ffffff;
  --plus-bg-color: #b8bcfd;
  --plus-active-color: #979cea;
  --scrollbar: #b8bcfd;
  --scrollbar-bg: #ffffff;
  --secondary-bg-color: #ffffff;
  --modal-bg-color: #fcfcfc;
  --blank-page-text: rgba(22, 22, 22, 0.7);
  --blank-page-bg: #ecedfd;
  --logout-button: #ffffff;
  --logout-button-accent: #b8bcfd;
  --sidebar-color: #ffffff;
  --board-active: rgb(255, 255, 255, 0.5);
  --sidebar-bg: #5255bc;
  --sidebar-border: rgba(255, 255, 255, 0.10);
  --add-button-color:#ffffff;
  --add-button-bg: #b8bcfd;
  --add-button-bg-accent: #a9adf5;
  --logo-color: #5255bc;
  --logo-bg: #ecedfd;
  --overlay:rgba(21, 21, 21, 0.30);
  --header-bg:#fcfcfc;
  --priority-default: rgba(22, 22, 22, 0.30);
   --help-bg: rgba(236, 237, 253, 0.40);
   --modal-bg-color: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100vw;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Regular.woff') format('woff'),
    url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Medium.woff') format('woff'),
    url('/src/assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-SemiBold.woff') format('woff'),
    url('/src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
