.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.list {
  width: 100px;
  height: 107px;
  padding: 18px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
  background-color: #151515;
  border-radius: 8px;
  border: 1px solid #bedbb0;
}
.item {
  cursor: pointer;
}
