.dropdown {
  position: relative;
}
.btn {
  border: none;
  background-color: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
}
/* .btn::after {
  content: url(../../assets/svg/symbol-defs.svg#icon-chevron-down);
  display: inline-block;
} */
.list {
  position: absolute;
  width: 100px;
  height: 107px;
  padding: 18px;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  border: 1px solid #bedbb0;
}
.item {
  cursor: pointer;
}
