.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  /* width: 99px; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  color: var(--swap-color);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  fill: transparent;
  stroke: currentColor;
  border: none;
  background-color: transparent;
  text-align: start;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--active-color);
  }
}

.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  fill: transparent;
  stroke: currentColor;
  border: none;
  background-color: transparent;
  fill: transparent;
  stroke: currentColor;
  color: var(--accent-color);
}

.text {
  /* max-width: 75px; */
  display: block;
}

.svg {
  margin-left: 8px;
}
